<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>
<body>
<script type='module' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://prod-apnortheast-a.online.tableau.com/t/nkfungtableau/views/1111/7/468e1953-af66-448a-95e7-48e036e356d5/12591f24-be85-4921-ab93-711cf8c6fb77' width='1536' height='714' hide-tabs toolbar='bottom' ></tableau-viz>
</body>
</html>